on:
  push:
    tags:
      - '[0-9].[0-9]+.[0-9]'
      - '[0-9].[0-9]+.[0-9]+-*'
    branches:
      - master
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: Build and test on Windows
    runs-on: windows-latest
    steps:
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: 10.0.x
      - name: Build Radical.Windows
        run: |
          'msbuild .\src\Radical.Windows.sln /t:Restore /p:Configuration=Release'
          'msbuild .\src\Radical.Windows.sln /p:Configuration=Release'
      - name: Tests
        run: dotnet test src --configuration Release --no-build