on:
  push:
    tags:
      - '[0-9].[0-9]+.[0-9]'
      - '[0-9].[0-9]+.[0-9]+-*'
    branches:
      - master
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: Build and test on Windows
    runs-on: windows-latest
    steps:
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: 10.0.x
      - name: Build Radical.Windows
        run: |
          msbuild .\src\Radical.Windows.sln /t:Restore /p:Configuration=Release
          msbuild .\src\Radical.Windows.sln /p:Configuration=Release
      - name: Tests
        run: dotnet test src --configuration Release --no-build
      - name: Upload packages
        uses: actions/upload-artifact@v5.0.0
        with:
          name: nuget-packages
          path: nugets/
          retention-days: 2
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6.0.0
      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: 8.0.x
      - name: Download artifacts
        uses: actions/download-artifact@v6.0.0
        with:
          name: nuget-packages
          path: nugets/
      - name: Check Tag Type
        id: check-tag-type
        if: github.ref_type == 'tag'
        run: |
          if [[ ${{ github.ref_name }} =~ [0-9]+.[0-9]+.[0-9]+$ ]]; then
            echo "release-type=production" >> $GITHUB_OUTPUT
          else
            echo "release-type=pre-release" >> $GITHUB_OUTPUT
          fi
      - name: Deploy pre-release to Feedz.io
        if: steps.check-tag-type.outputs.release-type == 'pre-release'
        run: |
          echo "Tag is pre-release"
          echo "Pushing package to Feedz.io"
          dotnet nuget push ./nugets/*.nupkg --source https://f.feedz.io/radical-framework/pre-releases/nuget/index.json --api-key ${{ secrets.FEEDZ_API_KEY }}
          echo "Pushing Symbols to Feedz.io"
          dotnet nuget push ./nugets/*.snupkg --source https://f.feedz.io/radical-framework/pre-releases/nuget/index.json --api-key ${{ secrets.FEEDZ_API_KEY }}
      - name: Deploy release to NuGet
        if: steps.check-tag-type.outputs.release-type == 'production'
        run: |
          echo "Tag is production"
          echo "Pushing package to NuGet.org"
          dotnet nuget push ./nugets/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }}
          echo "Pushing Symbols to NuGet.org"
          dotnet nuget push ./nugets/*.snupkg --api-key ${{ secrets.NUGET_API_KEY }}
